* {
    padding: 0;
    margin: 0;
}
body {
    background-image: url(../img/green.jpg);
}
h2 {
    color: #060;
}

p {
    color: #060;
}

h4 {
    color: #060;
}

div {
    color: #060;
}

.blog-masthead {
    background-color: #060;
}
