@charset "utf-8";
/* CSS Document */
*{padding:0;margin:0;}
body {
    background-image: url(../img/default.jpg);
}
h2{color:#00C;}
p{color:#006;}
.blog-masthead{
	background-color: #4545a1;
}
h4{color:#006;}
button{color:#006;}



