@charset "utf-8";
/* CSS Document */
*{padding:0;margin:0;}
body {
    background-image: url(../img/orange.jpg);
}
h2{color:#C60;}
p{color:#C60;}
.blog-masthead{
	background-color: #f4ae68;
}
h4{color:#C60;}
button{color:#C60;}


